h1 {
    font-family: "Montserrat", "sans-serif";
    font-size: 30px;
    text-align: center;

    padding: 10px 5px 10px 5px;
}

h2 {
    font-family: "Montserrat", "sans-serif";
    font-size: 24px;
}

h3 {
    font-family: "Roboto", "sans-serif";
    font-size: 16px;
    line-height: 20px;
    margin-right: 10px;
    margin-bottom: 5px;
    margin-top: 5px;
}

p {
    font-family: "Roboto", "sans-serif";
    font-size: 16px;
    position: relative;
    clear: both;
    margin: 10px;
    line-height: 0px;
}

li {
    font-family: "Roboto", "sans-serif";
    font-size: 20px;
    line-height: 24px;
}

form {
    position: relative;
    clear: both;
}
input {
    height : 15px;
}

label {
    font-family: "Roboto", "sans-serif";
    font-size: 14px;
}


.card {
    display: flex;
    
}

.column {
    flex: 50%;
    padding: 10px;
    margin: 10px;
    border: 1px solid;

}

#menu {
    background-color: #99EA86;
}

#current-order {
    background-color: #83D6B7;
    flex: 3 0 0%;
}

#item-names {
    float: left;
    width: 50%;
}

#item-names p{
    font-size: 16px;
    float: left;
}
#item-forms {
    float: left;
    width: 25%;
}
#item-prices {
    width: 25%;
    float: right;
}
